@font-face {
  font-family: CHAWP;
  src: url("fonts/chawp/chawp.otf") format("opentype");
}

body {
  font-family: 'CHAWP';
  margin: 0;
  font-size: 1.5rem;
  text-align: center;
  background: url('/public/img/game_bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff
}